body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffc122;
}
form {
  background-color: whitesmoke;
  width: 80%;
  margin: auto;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
}
.form {
  display: block;
  margin-bottom: 30px;
}
.form input {
  border: 2px solid black;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  display: block;
  width: 95%;
}
select {
  display: block;
  width: 95%;
  padding: 5px;
}
h1 {
  text-align: center;
  text-transform: capitalize;
}
.radio label {
  padding-left: 3px;
}
#main-footer {
  background-color: #ffc122;
  text-align: center;
  padding: 2px;
}
#headers {
  top: 0;
  width: 100%;
}
#main-header {
  background-color: #ffc123;
  text-align: center;
  word-spacing: 5px;
  text-transform: capitalize;
  padding-bottom: 10px;
  margin: 0;
}
#second-header {
  background-color: burlywood;
  padding-bottom: 1px;
  margin: 0;
  width: 100%;
}
.middle {
  text-align: center;
}
textarea {
  width: 100%;
  height: 5em;
}
#test {
  border: 1px solid black;
  background: #eee;
  font-family: "Courier New";
  padding: 10px;
}
.project {
  text-decoration: none;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 2px;
}
.project:hover {
  background-color: red;
}
#wor {
  background-color: white;
  padding-top: 5px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
table {
  text-align: center;
  margin: auto;
  border-collapse: collapse;
  border: 2px solid black;
  margin-bottom: 10px;
  width: 190px;
}
td,
th {
  text-align: left;
  padding-left: 5px;
  padding-right: 3px;
}
th {
text-align: center;
padding-bottom: 3px;
}
li {
  display: inline-block;
  padding: 5px;
}
li a {
  color: black;
  text-decoration: none;
}
ul {
  text-align: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.qr-code {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.screen {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 1;
}
.modal-content {
  background-color: white;
  height: 530px ;
  border-radius: 10px;
  z-index: 2;
  position: relative;
  width: 40%;
}
.qr-code-content {
  background-color: white;
  height: 530px ;
  border-radius: 10px;
  z-index: 2;
  position: relative;
  width: 40%;
}
.cursor {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
.close {
  position: absolute;
  bottom: 1px;
  width: 100%;
  text-align: center;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.flex-item {
  width: 50%;
  text-align: center;
  margin-top: 10px;
}
.modal-content a {
  color: rgb(1 100 180);
}
.modal-content a:hover {
  text-decoration: underline;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 80%;
  margin-left: 20%;
}
.share-item {
  display: flex;
  gap: 10px;
  margin: 0px 0px 8px;
  align-items: center;
  color: rgb(1 100 180);
}
.app {
  width: 26px;
  fill: grey;
  border-radius: 3px;
}
::selection {
  background-color: blue !important;
  color: white;
}

.fade-in {
  animation-name: FadeIn;
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
}

.fade-out {
  animation-name: FadeOut;
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(84, 84, 84);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.25s forwards infinite;
  margin: auto;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.top-container {
  display: none;
}

.loader-container {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-text {
  margin-top: 2em;
  color: #eee;
  font-weight: bold;
  font-size: large;
  text-align: center;
}
#myInput {
  margin-bottom: 10px;
  width: 300px;
  height: 23px;
  border: 2px solid black;
  border-radius: 5px;
}
.copy {
  text-align: center;
}
#copy:hover {
  text-decoration: underline;
}
.qr-paragraph{
  text-align: center;
  font-weight: 500;
  font-size: large;
}
#qr-img{
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left: 108px;
  top: 77px;
  width: 320px;
  height: 320px;
}
.qr-screen{
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 1;
}